footer{
    visibility: hidden;
}

img{
    align-items: center;
    display: flex;
}


.st-emotion-cache-e370rw e1vs0wn31{
    visibility: hidden;
}

button[title="View fullscreen"]{
    visibility: hidden;}

#MainMenu{
    visibility: hidden;

}
.st-emotion-cache-l49i00{
    visibility: hidden;
}

.st-emotion-cache-15zrgzn{
    visibility: hidden;
}